/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding-left: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    // min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.4;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a{
    text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

mark{
    background-color: transparent;
}

html
{
    height: 100%; 
    font-size: 1px; 
    // scroll-behavior: smooth
    
}
body{
    position: relative;
    height: 100%;
    font-size: 26.67rem;
    line-height: $lh;
    font-family: 'ALS';
    font-weight: 500;
    color: $text;
    transition: oveflow .4s;
    background-color: $body;
    letter-spacing: -0.05em;
    -webkit-font-smoothing: antialiased;
    
    @media (max-width:1680px){
        font-size: 20rem;
        line-height: 32rem;
    }
    @media (max-width:767px){
        font-size: 16rem;
        line-height: 24rem;
    }
}
.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    margin:0 auto;
    min-width: 375px;
    min-height: 100%;
    max-width: 1920px;
    overflow: hidden;
    
    
    .content {
        padding-top: 181.32rem;
        position: relative;
        flex: 1 0 auto;
        @media (max-width:1915px) {
            padding-top: 136rem;
        }
        @media (max-width:1280px){
            padding-top: 108rem;
        }
        @media (max-width:1100px){
            padding-top: 88rem;
        }
    }

    .footer {
        flex: 0 0 auto;
    }
}


.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1664px;
    @media (max-width:1680px) {
        max-width: 1440px;
    }
    @media (max-width:1480px) {
        max-width: 1248px;
    }
    @media (max-width:1280px) {
        max-width: unset;
        width: calc(100% - 32rem);
    }
}


.blur{
    position: absolute;
    z-index: -1;
    &:nth-of-type(1){
        width: 3867rem;
        height: 3867rem;
        top: -1012rem;
        left: -2000rem;
        
        background-image: url('../img/bg/1.svg');
        background-size: 100%;
        background-repeat: no-repeat;

        @media (max-width:1680px) {
        width: 3051rem;
        height: 3051rem;
        top: -952rem;
        left: -1444rem;
        }
        @media (max-width:1440px) {
        width: 2900rem;
        height: 2900rem;
        top: -700rem;
        left: -1500rem;
        }
        @media (max-width:375px) {
        width: 1500rem;
        height: 1500rem;
        top: -100rem;
        left: -700rem;
        }
    }
    &:nth-of-type(2){
        width: 3893rem;
        height: 3893rem;
        top: -2598rem;
        right: -1188rem;
        
        background-image: url('../img/bg/2.svg');
        background-size: 100%;
        background-repeat: no-repeat;

        @media (max-width:1680px) {
                width: 3073rem;
                height: 3073rem;
                top: -1572rem;
                right: -1345rem;
            }
        @media (max-width:1440px) {
                width: 2919rem;
                height: 2919rem;
                top: -1572rem;
                right: -1600rem;
            }
    }
    &:nth-of-type(3){
        width: 3893rem;
        height: 3893rem;
        top: 1000rem;
        right: -1188rem;
        
        background-image: url('../img/bg/3.svg');
        background-size: 100%;
        background-repeat: no-repeat;

        @media (max-width:1680px){
            width: 3073rem;
            height: 3073rem;
            top: 700rem;
            right: -800rem;
        }
        @media (max-width:1440px){
            width: 2919rem;
            height: 2919rem;
            top: 900rem;
            right: -800rem;
        }
    }
    &:nth-of-type(4){
        width: 3893rem;
        height: 3893rem;
        top: 6000rem;
        left: -1604rem;
        
        background-image: url('../img/bg/4.svg');
        background-size: 100%;
        background-repeat: no-repeat;

        @media (max-width:1680px) {
                width: 3073rem;
                height: 3073rem;
                top: 5000rem;
                right: -800rem;
            }
        @media (max-width:1440px) {
                width: 2919rem;
                height: 2919rem;
                top: 5000rem;
                right: 0;
                left: auto;
            }
        @media (max-width:767px) {
                width: 1500rem;
                height: 1500rem;
                top: 4500rem;
                right: auto;
                left: -600rem;
            }
        @media (max-width:375px) {
                width: 1500rem;
                height: 1500rem;
                top: 3500rem;
                right: auto;
                left: -600rem;
            }
    }
    &:nth-of-type(5){
        width: 3893rem;
        height: 3893rem;
        top: 7000rem;
        right: -1604rem;
        
        background-image: url('../img/bg/5.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        @media (max-width:1680px) {
                width: 3073rem;
                height: 3073rem;
                top: 5500rem;
                right: -2000rem;
                z-index: 0;
            }
        @media (max-width:1440px) {
                width: 2919rem;
                height: 2919rem;
                top: 5200rem;
                right: -1500rem;
                z-index: 0;
            }
        @media (max-width:767px) {
                width: 1500rem;
                height: 1500rem;
                top: 4900rem;
                right: -600rem;
                z-index: 0;
            }
        @media (max-width:375px) {
                width: 1500rem;
                height: 1500rem;
                top: 4400rem;
                right: -600rem;
                z-index: 0;
            }
    }
    &:nth-of-type(6){
        width: 3893rem;
        height: 3893rem;
        top: 8500rem;
        left: -1604rem;
        
        background-image: url('../img/bg/6.svg');
        background-size: 100%;
        background-repeat: no-repeat;

        @media (max-width:1680px) {
                    width: 3073rem;
                    height: 3073rem;
                    top: 6300rem;
                    left: -1500rem;
                    z-index: 0;
                }
        @media (max-width:1440px) {
                    width: 2919rem;
                    height: 2919rem;
                    top: 6300rem;
                    left: -1200rem;
                    z-index: 0;
                }
        @media (max-width:767px) {
                    width: 1500rem;
                    height: 1500rem;
                    top: 5700rem;
                    left: -500rem;
                    z-index: 0;
                }
        @media (max-width:375px) {
                    width: 1500rem;
                    height: 1500rem;
                    top: 5200rem;
                    left: -500rem;
                    z-index: 0;
                }
    }
   
}