<!DOCTYPE html>
<html lang="ru">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <meta name="description" content="">   
     <base href="https://roman140176.github.io/holliday/" />
    <link rel="stylesheet" type="text/css" href="https://roman140176.github.io/holliday/assets/css/app.min.css">
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
        </script>
</head>

<body class="hollidays-body">
    <div class="wrapper" id="wrapper">
        <div class="blur top-blue"></div>
        <div class="blur top-green"></div>
        

<header class="hollidays__header">
  <div class="hollidays__top container d-flex">
    <a href="/" class="hollidays__name white">
      большие
      <br>каникулы
    </a>
    <div class="hollidays__menubox">
      <ul class="hollidays__menu d-flex">
        
        <li class="hollidays__menu-item">
          <a href="#wts" class="hollidays__menu-link js-ancor active">Что это?</a>
        </li>
        
        <li class="hollidays__menu-item">
          <a href="#reviews" class="hollidays__menu-link js-ancor ">Отзывы</a>
        </li>
        
        <li class="hollidays__menu-item">
          <a href="#mp" class="hollidays__menu-link js-ancor ">Программа</a>
        </li>
        
        <li class="hollidays__menu-item">
          <a href="#faq" class="hollidays__menu-link js-ancor ">Вопросы</a>
        </li>
        
        <li class="hollidays__menu-item">
          <a href="#media" class="hollidays__menu-link js-ancor ">Фото и видео</a>
        </li>
        
        <li class="hollidays__menu-item">
          <a href="#price" class="hollidays__menu-link js-ancor ">Стоимость</a>
        </li>
        
      </ul>
    </div>
    <div class="hollidays__social d-grid">
      
      
        <a href="#" class="hollidays__social-link">
          <img src="https://roman140176.github.io/holliday/assets/img/icons/instagram.svg" alt="">
        </a>
      
      
      
        <a href="#" class="hollidays__social-link">
          <img src="https://roman140176.github.io/holliday/assets/img/icons/linked.svg" alt="">
        </a>
      
      
      
        <a href="#" class="hollidays__social-link">
          <img src="https://roman140176.github.io/holliday/assets/img/icons/vk.svg" alt="">
        </a>
      
      
      
        <a href="#" class="hollidays__social-link">
          <img src="https://roman140176.github.io/holliday/assets/img/icons/youtube.svg" alt="">
        </a>
      
      
    </div>
    <div class="hollidays__toggler">
      <span></span>
    </div>
  </div>
</header>
<div class="hollidays__menu-mobile">
  <ul class="hollidays__menu d-flex">
    
    <li class="hollidays__menu-item">
      <a href="#wts"
        class="hollidays__menu-link js-mobile-ancor active">Что это?</a>
    </li>
    
    <li class="hollidays__menu-item">
      <a href="#reviews"
        class="hollidays__menu-link js-mobile-ancor ">Отзывы</a>
    </li>
    
    <li class="hollidays__menu-item">
      <a href="#mp"
        class="hollidays__menu-link js-mobile-ancor ">Программа</a>
    </li>
    
    <li class="hollidays__menu-item">
      <a href="#faq"
        class="hollidays__menu-link js-mobile-ancor ">Вопросы</a>
    </li>
    
    <li class="hollidays__menu-item">
      <a href="#media"
        class="hollidays__menu-link js-mobile-ancor ">Фото и видео</a>
    </li>
    
    <li class="hollidays__menu-item">
      <a href="#price"
        class="hollidays__menu-link js-mobile-ancor ">Стоимость</a>
    </li>
    
  </ul>
  <div class="hollidays__mg-socials d-grid">
    <a href="#"><img src="https://roman140176.github.io/holliday/assets/img/icons/mobile/inst.svg" alt="instagram"></a>
    <a href="#"><img src="https://roman140176.github.io/holliday/assets/img/icons/mobile/link.svg" alt="link"></a>
    <a href="#"><img src="https://roman140176.github.io/holliday/assets/img/icons/mobile/vk.svg" alt="vk"></a>
    <a href="#"><img src="https://roman140176.github.io/holliday/assets/img/icons/mobile/youtube.svg" alt="youtube"></a>
  </div>
</div>
        <div class="content hollidays">
           
  <div id="wts" class="begin js-section">
  <div class="hollidays__begin relative">
    <div class="container relative hollidays__begin-header">
      <h1 class="hollidays__begin-title white">
        Большие
        <br>каникулы
        <br>для взрослых
      </h1>
      <div class="hollidays__begin-coner absolute d-flex white">
        <div class="hollidays__begin-date">
          в Сочи с <span>23</span>
          <br>по <span>29</span>
        </div>
        <div class="hollidays__begin-month">марта</div>
      </div>
    </div>
    <div class="hollidays__begin-video">      
        <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--left"></a>
        <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg" data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
          <source src="#" type="video/mp4">        
        </video>
    </div>
    <div class="hollidays__begin-wts container white">
      Что это?
    </div>
  </div>
  <!-- Море,Горы -->
  <div class="container hollidays__begin-sea-mountain d-flex relative">
    <div class="hollidays__begin-smItem white">
      <div class="hollidays__begin-smInner relative d-flex">
        <div class="hollidays__begin-smName sea-name">Море</div>
        <div class="hollidays__begin-smImg relative">
          <div>
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/sea.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/sea.png" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="hollidays__begin-smShadow-sea absolute">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/sea.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/sea.png" alt="Горы" class="main_image">
            </picture>
          </div>
        </div>
      </div>
    </div>
    
    <div class="hollidays__begin-smItem white relative">
      <div class="hollidays__begin-smInner relative d-flex">
        <div class="hollidays__begin-smName mountain-name">Горы</div>
        <div class="hollidays__begin-smImg relative">
          <div>
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/mountain.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/mountain.png" alt="Горы" class="main_image main_image--mount">
            </picture>
          </div>
          <div class="hollidays__begin-smShadow absolute">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/mountain.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/mountain.png" alt="Горы">
            </picture>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <!-- /Море,Горы -->
  
  <div class="container hollidays__presentaition d-flex relative">
    <div class="hollidays__presentaition-titles relative white text-center">
      <div class="hollidays__presentaition-titlesTop d-flex">
        <h4 class="hollidays__presentaition-titlesItem">
          Супер
          <br>насыщенная
          <br>программ
        </h4>
        <h4 class="hollidays__presentaition-titlesItem">
          Замечательные
          <br>люди
        </h4>
      </div>
      <div class="hollidays__presentaition-titlesBottom scroll-fade">
        <span>
          Мы арендовали целую гостиницу 
          <br>и закрываем ее только для нас. 
          <br>Комфортабельные номера, открытый 
          <br>подогреваемый бассейн, баня, своё кафе, 
          <br>бар и вкусные кальяны
        </span>
      </div>
    </div>
    <div class="hollidays__presentaition-video absolute">    
        <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg" data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
          <source src="#" type="video/mp4">
        </video>
    </div>   
    </div>
    <div class="blur blur-presentaition"></div>
  </div>

  <div class="hollidays__sliderbox bg-white">
  <div class="container">
    <h2 class="hollidays__sliderbox-title">
      Зачем мне нужно ехать на <span class="text-gray">Большие Каникулы</span>?
    </h2>
  </div>
  
  
  
  <section class="container horizontal">
    <div class="pin-wrap">
      <div class="animation-wrap to-right">        
               
        <div class="item obs-item">
          <div class="item__card">
            <header class="animation-wrap__header">
              <div class="animation-wrap__video">
                <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                  data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
                  <source src="#" type="video/mp4">
                </video>
              </div>
            </header>
            <h3>Нетворкин</h3>
            <p>Крутые знакомства и новые друзья. Обмен опытом, истории из жизни и бизнеса. И, конечно, душевные посиделки у костра
              под
              гитару, яхта, картинг, ночные покатушки на самокатах, бары и дискотеки</p>
          </div>
        </div>
               
        <div class="item obs-item">
          <div class="item__card">
            <header class="animation-wrap__header">
              <div class="animation-wrap__video">
                <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                  data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
                  <source src="#" type="video/mp4">
                </video>
              </div>
            </header>
            <h3>Нетворкин</h3>
            <p>Крутые знакомства и новые друзья. Обмен опытом, истории из жизни и бизнеса. И, конечно, душевные посиделки у костра
              под
              гитару, яхта, картинг, ночные покатушки на самокатах, бары и дискотеки</p>
          </div>
        </div>
               
        <div class="item obs-item">
          <div class="item__card">
            <header class="animation-wrap__header">
              <div class="animation-wrap__video">
                <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                  data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
                  <source src="#" type="video/mp4">
                </video>
              </div>
            </header>
            <h3>Нетворкин</h3>
            <p>Крутые знакомства и новые друзья. Обмен опытом, истории из жизни и бизнеса. И, конечно, душевные посиделки у костра
              под
              гитару, яхта, картинг, ночные покатушки на самокатах, бары и дискотеки</p>
          </div>
        </div>
               
        <div class="item obs-item">
          <div class="item__card">
            <header class="animation-wrap__header">
              <div class="animation-wrap__video">
                <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                  data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
                  <source src="#" type="video/mp4">
                </video>
              </div>
            </header>
            <h3>Нетворкин</h3>
            <p>Крутые знакомства и новые друзья. Обмен опытом, истории из жизни и бизнеса. И, конечно, душевные посиделки у костра
              под
              гитару, яхта, картинг, ночные покатушки на самокатах, бары и дискотеки</p>
          </div>
        </div>
        
      </div>
    </div>
  </section> 
</div>

  <div class="hollidays__exemples relative ovh">
    <div class="container">
      <h2 class="hollidays__exemples-title white scroll-fade">
        В этот проект мы взяли все самое тёплое, доброе, весёлое
      </h2>
      <div class="hollidays__exemples-grid d-grid text-gray">
        <div class="hollidays__exemples-options">
          <div class="hollidays__exemples-item">
            <p>
              Наше мероприятие рассчитано на 12 - 16 человек. Трансфер будет осуществляться на удобных минивенах. Всем участникам
              будет комфортно и уютно
            </p>
          </div>
        </div>
        <div class="hollidays__exemples-options">
          <div class="hollidays__exemples-item">
            <p>
              Каждый вправе сам выбирать уровень своей активности. Ты можешь поспать или почиллить у бассейна, пропустив любые
              мероприятия. Свой максимум ты выбираешь сам
            </p>
          </div>
          <div class="hollidays__exemples-item">
            <p>
              Важно отметить, что «отрываться как взрослые» мы сможем после «отбоя», только тогда открывается опция бара, кальяна,
              веселых танцев и взрослых шуток. Делать это будем как в нашем кафе/баре, так и выезжать в рестораны и клубы Центрального
              Сочи и Адлера
            </p>
          </div>
        </div>
      </div>
      <div class="hollidays__exemples-lists relative white">
        <h2 class="hollidays__exemples-list scroll-fade">
          Утренние
          <br>зарядки,
          <br>спорт,
          <br>путешествия 
          <br>и общение сделают 
          <br>отдых незабываемым
        </h2>
      </div>
    </div>
    <div class="blur blure-exemples"></div>
    <div class="blur blure-exemples-green"></div>
    <div class="blur blure-exemples-blue"></div>
  </div>
</div>  

  <div class="reviews js-section" id="reviews">
  <div class="container reviews__container">
    <header class="reviews__header white">
      Посмотрите отзывы тех, кто уже побывал на Больших Каникулах
    </header>
    <div class="reviews__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__item ">
          <div class="js-card">
            <div class="reviews__video relative">
              <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/v1.mp4" class="play-link"></a>
              <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                data-src="https://roman140176.github.io/holliday/assets/img/v1-prev.mp4" loop>
                <source src="#" type="video/mp4">
              </video>
            </div>
            <div class="reviews__item-contacts white">
              <div class="reviews__item-name">Максим</div>
              <div class="reviews__item-post">предприниматель</div>
              <div class="reviews__item-email">
                <div class="reviews__item-icon">
                  <img src="https://roman140176.github.io/holliday/assets/img/inst.svg" alt="slide">
                </div>
                <a href="mailto:maxpolpudnikov">maxpolpudnikov</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__item ">
          <div class=" js-card">
            <div class="reviews__video relative">
              <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/v2.mp4" class="play-link"></a>
              <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                data-src="https://roman140176.github.io/holliday/assets/img/v2-prev.mp4" loop>
                <source src="#" type="video/mp4">
              </video>
            </div>
            <div class="reviews__item-contacts white">
              <div class="reviews__item-name">Максим</div>
              <div class="reviews__item-post">предприниматель</div>
              <div class="reviews__item-email">
                <div class="reviews__item-icon">
                  <img src="https://roman140176.github.io/holliday/assets/img/inst.svg" alt="slide">
                </div>
                <a href="mailto:maxpolpudnikov">maxpolpudnikov</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__item ">
          <div class="js-card">
            <div class="reviews__video relative">
              <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/v3.mp4" class="play-link"></a>
              <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
                data-src="https://roman140176.github.io/holliday/assets/img/v3-prev.mp4" loop>
                <source src="#" type="video/mp4">
              </video>
            </div>
            <div class="reviews__item-contacts white">
              <div class="reviews__item-name">Максим</div>
              <div class="reviews__item-post">предприниматель</div>
              <div class="reviews__item-email">
                <div class="reviews__item-icon">
                  <img src="https://roman140176.github.io/holliday/assets/img/inst.svg" alt="slide">
                </div>
                <a href="mailto:maxpolpudnikov">maxpolpudnikov</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__storis di-flex relative">
      <a href="#" class="btn reviews__storis-link animated-link btn-link">
        <span>Больше в сторис</span>
      </a>
    </div>
  </div>
</div>

  <div class="programm js-section" id="mp">
  <div class="container">
    <h2 class="programm__title">
      Программа
      каникул
    </h2>

  </div>
  
<div id="app" class="container">   
  
  <div class="map__wrapp relative">
    <div class="map__list swiper">      
      <div class="swiper-wrapper">
        <div class="map__listItems swiper-slide" v-for="magazine in magazines">
          <span class="map__listItems-span" v-bind:rel="magazine.id" v-on:click="showCollection" ref="listItem">{{magazine.name}}</span>        
        </div>

      </div>
    </div>
    <div class="map__text-content map__text-top">
      <p v-for="t in textTop" class="text-gray d-flex">
        <i>
          <img src="https://roman140176.github.io/holliday/assets/img/mark-list.svg" alt="">
        </i>
        <span>
          {{t.name}}
        </span>
      </p>
    </div>
    <div class="myMap" id="map"></div>
    <div class="map__text-bottom d-flex relative">
      <div class="map__text-left">
        <h3>Места отдыха и экскурсий могут меняться в&nbsp;зависимости от погоды, также мы можем успеть посетить:</h3>
        <div class="map__text-content">
          <p v-for="tb in textBottom" class="text-gray d-flex">
            <i>
              <img src="https://roman140176.github.io/holliday/assets/img/mark-list.svg" alt="">
            </i>
            <span>
              {{tb.name}}
            </span>
          </p>
        </div>
      </div>
      <div class="map__images absolute">
        <div class="map__image absolute">
         
          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/pl.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/pl.jpg" alt="Горы" class="main_image">
          </picture>
         
        </div>
        <div class="map__image absolute">
          
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/pl.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/pl.jpg" alt="Горы" class="main_image">
            </picture>
          
        </div>
       </div>
      
    </div>
  </div>
</div>
</div>

<script>
  let groups;
  const fetchGroups = async () => {
    const res = await fetch('https://roman140176.github.io/holliday/map/map.json')    
    return await res.json()
  } 
    

    fetchGroups().then(data=>{      
      groups = data
    }).then(()=>{
      getScript('https://roman140176.github.io/holliday/vue/vue.js')
    }).then(()=>{
      getScript('https://roman140176.github.io/holliday/vue/map.js')
    })

    

    function getScript(url, as = false) {
      var js_script = document.createElement('script');
      js_script.type = "text/javascript";
      js_script.src = url;
      js_script.async = as;
      document.getElementsByTagName('head')[0].appendChild(js_script);
    }

    
</script>
  <div class="faq js-section" id="faq">
  <div class="container">
    <div class="faq__box d-flex">
      <div class="faq__title">
        Частые
        <br>вопросы
      </div>
      <div class="faq__container">
        <div class="faq__item">
          <div class="faq__header d-flex relative active">
            <div class="faq__name">Могу ли я уехать раньше окончания Больших каникул?</div>
            <div class="faq__btn absolute"></div>
          </div>
          <div class="faq__content text-gray" style="display: block;">
            <p>
              Да, вы спокойно можете покинуть тур в любой момент. Учтите, что деньги я вам не отдам
            </p>
          </div>
        </div>
        <div class="faq__item">
          <div class="faq__header d-flex relative">
            <div class="faq__name">Второй важный вопрос, на который срочно требуется ответ</div>
            <div class="faq__btn absolute"></div>
          </div>
          <div class="faq__content text-gray">
            <p>
              Ответа на данный вопрос нет, и никогда не будет. Так что sorry, рекомендую Google.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="media js-section" id="media">
  <div class="media__container relative show-lg">
    <!-- media__row--top -->
    <div class="media__row media__row--top d-flex align-end">
      <div class="media__row-video  card">
        <div class="js-card card-item relative">
          <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
              data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
              <source src="#" type="video/mp4">
            </video>

        </div>
      </div>
      <div class="media__row-img rotate-minus card">
        <div class="js-card card-item">
          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/media/1.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/media/1.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
      <div class="media__row-img  media__row-img--small card">
        <div class="js-card card-item">

          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/media/2.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/media/2.jpg" alt="Горы" class="main_image">
          </picture>
        </div>
      </div>
      <div class="media__row-video  card">
        <div class="js-card card-item relative">
          <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--small"></a>
          <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
            data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
            <source src="#" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <!-- /media__row--top -->
    <!-- row media__row--midle  -->
    <div class="media__row media__row--midle d-flex">
      <div class="media__row-img rotate-plus card">
        <div class="js-card card-item">
          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/media/3.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/media/3.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
      <!-- title -->
      <div class="media__title absolute">
        <span>Фото</span>
        <div>
          <span class="text-light">и</span>
          <span>видео</span>
        </div>
      </div>
      <!-- /title -->
      <div class="media__row-img rotate-minus card">
        <div class="js-card card-item">
          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/media/5.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/media/5.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
    </div>
    <!-- /row media__row--midle  -->
    <div class="media__row media__row--bottom d-flex">
      <div class="media__row-video media__row-video--small card">
        <div class="js-card card-item relative">
          <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--small"></a>
          <video class="obs-video video-fit" preload="metadata" muted="false" poster="https://roman140176.github.io/holliday/assets/img/video-poster.jpg"
            data-src="https://roman140176.github.io/holliday/assets/img/t-prev.mp4" loop>
            <source src="#" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="media__row-img  media__row-img--small card">
        <div class="js-card card-item">
          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/media/6.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/media/6.jpg" alt="Горы" class="main_image">
          </picture>

        </div>
      </div>
      <div class="media__row-img rotate-plus rotate-top card">
        <div class="js-card card-item">

          <picture>
            <source srcset="https://roman140176.github.io/holliday/assets/img/media/4.webp" type="image/webp">
            <img src="https://roman140176.github.io/holliday/assets/img/media/4.jpg" alt="Горы" class="main_image">
          </picture>
        </div>
      </div>
      <a href="#" class="media__link">
        <div class="media__link-icon">
          <img src="https://roman140176.github.io/holliday/assets/img/inst-dark.svg" alt="Горы" class="main_image">
        </div>
        <div class="media__link-text">
          Больше
          <br>в сторис
        </div>
      </a>
    </div>
  </div>
  <!-- mobile -->
  <div class="media__mobile hide-lg">
  <div class="container">
    <div class="media__mobile-header d-flex">
      <div class="media__mobile-title">
        <span>Фото</span>
        <div>
          <span class="text-light">и</span>
          <span>видео</span>
        </div>
      </div>
      <a href="#" class="media__link media__link--mobile">
        <div class="media__link-icon">
          <img src="https://roman140176.github.io/holliday/assets/img/inst-dark.svg" alt="Горы" class="main_image">
        </div>
        <div class="media__link-text">
          Больше
          <br>в сторис
        </div>
      </a>
    </div>
    <div class="media__slider swiper">
      <div class="swiper-wrapper">
        
          <div class="media__mobile-slide relative swiper-slide js-card">
            <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" muted="false" preload="metadata" loop="">
              <source src="https://roman140176.github.io/holliday/assets/img/top.mp4" type="video/mp4">
            </video>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/media/1.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/media/1.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/media/2.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/media/2.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" muted="false" preload="metadata" loop="">
              <source src="https://roman140176.github.io/holliday/assets/img/top.mp4" type="video/mp4">
            </video>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/media/3.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/media/3.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/media/5.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/media/5.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <a data-fancybox="vidos" data-src="https://roman140176.github.io/holliday/assets/img/top.mp4" class="play-link play-link--small"></a>
            <video class="obs-video video-fit" muted="false" preload="metadata" loop="">
              <source src="https://roman140176.github.io/holliday/assets/img/top.mp4" type="video/mp4">
            </video>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/media/2.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/media/2.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
          <div class="media__mobile-slide relative swiper-slide js-card">
            <picture>
              <source srcset="https://roman140176.github.io/holliday/assets/img/media/4.webp" type="image/webp">
              <img src="https://roman140176.github.io/holliday/assets/img/media/4.jpg" alt="Горы" class="main_image">
            </picture>
          </div>
        
      </div>
    </div>
  </div>
</div>
  <div class="blur blur-media-yellow"></div>
  <div class="blur blur-media-blue"></div>
</div>
  <div class="price js-section" id="price">
  <div class="price__container relative">
    <div class="price__title-wrap relative">
      <h2 class="price__title white">
        Твои лучшие
        <br>каникулы
        <br>в Сочи   
      </h2>
      <div class="price__place absolute">
        <picture>
          <source srcset="https://roman140176.github.io/holliday/assets/img/hello_image.webp" type="image/webp">
          <img src="https://roman140176.github.io/holliday/assets/img/hello_image.jpg" alt="Горы" class="main_image">
        </picture>
      </div>
      <!-- <div class="price__desc text-gray di-flex">
        <a href="#" class="price__term d-block">Политика конфиденциальности</a>
        <a href="#" class="price__term d-block">Пользовательское соглашение</a>
      </div> -->
    </div>
    <div class="price__ticket">
      <div class="price__header">
        <span>65 000 ₽</span>
        <span class="text-light">/чел</span>
      </div>
      <div class="price__body">
        <h4 class="price__list-name price__body-title text-light">
          В билет входит
        </h4>
        <div class="price__list">
          <p>Трансфер из аэропорта</p>
          <p>Трехразовое питание</p>
          <p>Проживание в комфортных двухместных номерах</p>
          <p>Баня и бассейн</p>
          <p>Трансфер из аэропорта и на экскурсии/тусы</p>
          <p>Посещение скайпарка</p>
          <p>Прогулка на яхте</p>
          <p>Посиделки у костра и вечеринки</p>
        </div>
      </div>
      <div class="price__footer">
        <h4 class="price__list-name price__footer-title text-light">
          В билет не входит
        </h4>
        <div class="price__list">
          <p>Билет до Сочи</p>          
        </div>
      </div>
    </div>
  </div>
</div>
   

        </div>

        <footer class="footer">
  <div class="container">
    <div class="footer__top d-flex">
      <a href="/" class="footer__logo">
        большие
        <br>каникулы
      </a>
      <div class="footer__socials d-grid">
        <a href="#" class="footer__sl"><img src="https://roman140176.github.io/holliday/assets/img/icons/inst-dark.svg" alt="instagram"></a>
        <a href="#" class="footer__sl"><img src="https://roman140176.github.io/holliday/assets/img/icons/lin-dark.svg" alt="instagram"></a>
        <a href="#" class="footer__sl"><img src="https://roman140176.github.io/holliday/assets/img/icons/vk-dark.svg" alt="instagram"></a>
        <a href="#" class="footer__sl"><img src="https://roman140176.github.io/holliday/assets/img/icons/yu-dark.svg" alt="instagram"></a>
      </div>
    </div>
    <div class="footer__bottom d-flex text-gray">
      <div class="footer__copy">© 2023 Все права защищены.</div>
      <div class="footer__terms">
        <a href="#" class="footer__terms-link d-block">Политика конфиденциальности</a>
        <a href="#" class="footer__terms-link d-block">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>
                
    </div>
    
    <a href="#" class="btn btn-green btn-fixed"><span>Я еду</span></a>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>   
   
    <!--  -->
    <script src="https://roman140176.github.io/holliday/assets/js/app.min.js"></script>
    

</body>
</html>
