<footer class="footer">
  <div class="container">
    <div class="footer__top d-flex">
      <a href="/" class="footer__logo">
        большие
        <br>каникулы
      </a>
      <div class="footer__socials d-grid">
        <a href="#" class="footer__sl"><img src="/assets/img/icons/inst-dark.svg" alt="instagram"></a>
        <a href="#" class="footer__sl"><img src="/assets/img/icons/lin-dark.svg" alt="instagram"></a>
        <a href="#" class="footer__sl"><img src="/assets/img/icons/vk-dark.svg" alt="instagram"></a>
        <a href="#" class="footer__sl"><img src="/assets/img/icons/yu-dark.svg" alt="instagram"></a>
      </div>
    </div>
    <div class="footer__bottom d-flex text-gray">
      <div class="footer__copy">© 2023 Все права защищены.</div>
      <div class="footer__terms">
        <a href="#" class="footer__terms-link d-block">Политика конфиденциальности</a>
        <a href="#" class="footer__terms-link d-block">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>