<div class="hollidays__menu-mobile">
  <ul class="hollidays__menu d-flex">
    {% for item in menu %}
    <li class="hollidays__menu-item">
      <a href="{{item.href}}"
        class="hollidays__menu-link js-mobile-ancor {% if item.href==='#wts' %}active{% endif %}">{{item.name}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="hollidays__mg-socials d-grid">
    <a href="#"><img src="/assets/img/icons/mobile/inst.svg" alt="instagram"></a>
    <a href="#"><img src="/assets/img/icons/mobile/link.svg" alt="link"></a>
    <a href="#"><img src="/assets/img/icons/mobile/vk.svg" alt="vk"></a>
    <a href="#"><img src="/assets/img/icons/mobile/youtube.svg" alt="youtube"></a>
  </div>
</div>