.media{
  padding-top: 180rem;
  padding-bottom: 116rem;
  position: relative;
  @media (max-width:1680px){
    padding-top: 136rem;
    padding-bottom: 72rem;
  }
@media (max-width:1100px) {
  padding-top: 96rem;
  padding-bottom: 0;
}
@media (max-width:767px) {
  padding-top: 64rem;
}
&__bg{
  width: 3893rem;
    height: 3893rem;
    top: -1300rem;
    left: -2000rem;
    position: absolute;
    background-image: url('../img/bg/7.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    @media (max-width:1680px) {
      width: 3073rem;
      height: 3073rem;
      top: -1000rem;
    }
    @media (max-width:1440px) {
      width: 2919rem;
      height: 2919rem;
      top: -800rem;
      left: -1600rem;
    }
    @media (max-width:767px) {
      width: 1500rem;
      height: 1500rem;
      top: -300rem;
      left: -800rem;
    }
}
&__bgr{
  @extend .media__bg;
  background-image: url('../img/bg/8.svg');
  right: -2000rem;
  left: auto;
  @media (max-width:1440px){
    right: -1600rem;
  }
  @media (max-width:767px){
    right: -800rem;
  }
}
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: $big-padding;
    border-radius: 0 0 $big-padding $big-padding;
    background-color: $body;
    
    left: 0;
    bottom: $big-padding * -1;
    z-index: 1;
    @media (max-width:1680px) {
        height: 64rem;
        border-radius: 0 0 64rem 64rem;
        bottom: -63rem;
      }
    @media (max-width:767px) {
        height: 64rem;
        border-radius: 0 0 24rem 24rem;
        
      }
  }
  &__title{
    display: flex;
    flex-flow: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    font-size: 160rem;
    line-height: 128rem;
    letter-spacing: -0.05em;
    span:first-child{
      transform: rotate(-15deg);
      transform-origin: 25% -250rem;
    }
    @media (max-width:1850px){
      font-size: 120rem;
      line-height: 96rem;
    }
  }
  &__container{
    width: 1749.33rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    z-index: 3;
    @media (max-width:1850px){
    width: 1312rem;
    }
    @media (max-width:1336px){
    width: 93.413173653%;
    }
  }
  &__link{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
    padding-top: 80rem;
    &--mobile{
      padding-top: 0;
    }
    @media (max-width:1850px){
      padding-top: 64rem;
    }
    @media (max-width:1336px){
          margin-left:0;
        }
    &--mobile{
      padding-top: 0;
    }
    &-icon{
      width: $big-padding;
      height: $big-padding;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10.67rem;
      @media (max-width:1850px){
        width: 64rem;
        height: 64rem;
        margin-bottom: 8rem;
        img{
          width: 49.82rem;
          height: 49.82rem;
        }
      }
      @media (max-width:767px){
          width: 32rem;
          height: 32rem;
          img{
            width: 25rem;
            height: 25rem;
          }
        }
    }
    &-text{
      font-weight: 700;
      font-size: 42.6667rem;
      line-height: 53rem;
      letter-spacing: -0.05em;
      @media (max-width:1850px){
        font-size: 32rem;
        line-height: 40rem;
      }
      @media (max-width:767px){
        font-size: 24rem;
        line-height: 28rem;
      }
    }
  }
  &__row{
    justify-content: space-between;
    width: 100%;
    &--top{
      width: 1514.67rem;
      @media (max-width:1850px){
        width: 1136rem;
      }
      @media (max-width:1336px){
      width: 91.025641026%;
      }
      .media__row-video:first-child{
        margin-bottom: 45rem;
        @media (max-width:1850px){
          margin-bottom: 24rem;
        }
        @media (max-width:1336px){
          transform: rotate(15deg);
        }
      }
      .media__row-video:last-child{
        @media (max-width:1336px) {
            transform: rotate(-15deg);
          }
      }
    }
    &--midle{
      margin-top: 26.33rem;
      position: relative;
      .rotate-plus{
        position: relative;
        top: -26.33rem;
      }
    }
    &--bottom{
      margin-top: 13.33rem;
      width: 1380rem;
      @media (max-width:1850px){
        width: 1035rem;
      }
      @media (max-width:1336px){
          width: 82.932692308%;
          justify-content: space-between;
        }
      .media__row-img{
        margin-left: 42.67rem;
        @media (max-width:1850px) {
            margin-left: 32rem;
          }
        @media (max-width:1336px){
          margin-left:0;
        }
      }
    }
    &-video{
      width: 293.33rem;
      height: 293.33rem;
      border-radius: $big-padding;
      overflow: hidden;
      @media (max-width:1850px){
        width: 220rem;
        height: 220rem;
        border-radius: 64rem;
      }
      @media (max-width:1336px){
          border-radius: 32rem;
        }
      &--small{
        width: 226.67rem;
        height: 226.67rem;
        border-radius: 64rem;
        @media (max-width:1850px){
          width: 170rem;
          height: 170rem;
        }
        @media (max-width:1336px){
          border-radius: 32rem;
          @media (max-width:1336px) {
              transform: rotate(15deg);
            }
        }
      }
    }
    &-img{
      width: 427.63rem;
      height: 427.63rem;
      overflow: visible;
      transition: transform .8s;
      .card-item{
        border-radius: $big-padding;
        overflow: hidden;
        transition: box-shadow .4s;
        @media (min-width:1200px) {
          &:hover{
            box-shadow: 2rem 2rem 30rem rgba(0,0,0,.3);
          }
        }
        @media (max-width:1850px) {
           
            border-radius: 64rem;
          }
        
          @media (max-width:1336px) {
            
            border-radius: 32rem;
          }
      }
      @media (max-width:1850px){
        width: 320.72rem;
        height: 320.72rem;
        border-radius: 64rem;
      }
      @media (max-width:1336px){
      width: 303rem;
      height: 303rem;
      border-radius: 32rem;
      }
      &.rotate-top{
        position: relative;
        top: -13.33rem;
        @media (max-width:1480px){
          top: 0;
        }
      }
      &.rotate-plus{
        transform: rotate(15deg);
        transform-origin: 55% 55%;
      }
      &.rotate-minus{
        transform: rotate(-15deg);
        transform-origin:55% 55%;
      }
      &--small{
        width: 373.33rem;
        height: 373.33rem;
        @media (max-width:1850px){
          width: 280rem;
          height: 280rem;
        }
        @media (max-width:1336px){
          width: 220rem;
          height: 220rem;
        }
      }
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__mobile{
    &-slide{
      height: 303rem;
      overflow: hidden;
      border-radius: 32rem;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__mobile-title{
    font-weight: 700;
    font-size: 120rem;
    line-height: 96rem;
    letter-spacing: -0.05em;
    margin-right: 63rem;
    @media (max-width:1100px) {
      font-size: 96rem;
      line-height: 0.8;
    }
    @media (max-width:767px) {
      font-size: 54rem;
      line-height: 48rem;
    }
  }
  &__mobile-header{
    margin-bottom: 64rem;
    align-items: flex-end;
  }
}